# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables and settings
.env
*.env
*.venv

# Flask specific
instance/
*.db
*.sqlite3

# Virtual environment
venv/
env/

# IDE/editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
